<!DOCTYPE html>
<html lang="en-US">
        <head>
                <title>HalfPix</title>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                {% load static %}
                <link rel="stylesheet" href="{% static 'games/style.css' %}">
        </head>
        <body>
                <h1>HalfPix</h1>
		<h2>Can you draw pixel art with half pixels ?</h2>
		<div id="game-container"></div>
		<button id="play-button">Play !</button>
                <script src="{% static 'games/halfpix.js' %}"></script>
        </body>
</html>

