<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>HUB</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% load static %}
		<link rel="stylesheet" href="{% static 'games/style.css' %}">
	</head>
	<body>
		<h1>Welcome to the <strong>HUB</strong></h1>
		<main>
			<a class="card" href="/tetriangle"><section></section></a>
			<a class="card" href="/tetriangle"><section></section></a>
			<a class="card" href="/tetriangle"><section></section></a>
			<a class="card" href="/tetriangle"><section></section></a>
		</main>
		<script src="{% static 'games/home.js' %}"></script>
	</body>
</html>
